.container {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 20px;
    display:inline-grid; 
}
.container1 {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 20px;
    display:grid; 
}
.item {
    background-color: palegreen;
}
.container3 {
    background: yellow;
    padding: 10px;
    margin-bottom: 20px;
    display:grid;
    
    grid-template-columns:repeat(3, 1fr); 
    /*tem a opção de reapt(3, 1fr 2fr) */
    grid-template-rows:repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-auto-columns: 1fr;
    grid-auto-flow: row;
    /*repreat(auto-fill,monmkax(100px,1fr)); serve para deixar marcado os demais espaço*/
}
.container3 .item {
    border: 1px solid black;
}
.item-01 {
    background-color: palevioletred;
}
.item-02 {
    background-color: cornflowerblue;
}
.item-03 {
    background-color: palegreen;
}
.item-04 {
    background-color: orange;
}
.item-05 {
    background-color: cadetblue;
}
.item-06 {
    background-color: aqua;
}
.item-07 {
    background-color: rgb(44, 201, 96);
}

